#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: bisque;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: -5rem;
}

.content {
  width: 300px;
  margin-top: 1rem;
}

.clickText {
  color: bisque;
  z-index: 999;
  margin: auto;
  margin-top: -55%;
  font-weight: bold;
  font-size: larger;
  width: 5rem;
}

.cat-type {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin: 0.5rem 0;
}

.cat-desc {
  font-size: 1rem;
  color: black;
  margin-bottom: 2rem;
}

.button {
  background-color: transparent;
  border: none;
}

.again-button {
  background-color: brown
}

.cat-content {
  display: flex;
  flex-direction: column;
}